<h2><%= t("Edit Account") %></h2>

<%= form_for(resource, :as => resource_name, :url => walker_registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

   <div><%= f.label :email %><br />
	<%= f.email_field :email %></div>

  <div><%= f.label t 'current_password' %> <i>(<%= I18n.t("we need your current password to confirm your changes") %>)</i><br />
	<%= f.password_field :current_password %></div>

  <div><%= f.label t 'password' %><i>(<%= I18n.t("leave blank if you don't want to change it") %>)</i><br />
	<%= f.password_field :password %></div>

  <div><%= f.label t 'password_confirmation' %><br />
	<%= f.password_field :password_confirmation %></div>

  <div><%= f.label t 'name' %><br />
	<%= f.text_field :name %></div>

  <div><%= f.label t 'surname' %><br />
	<%= f.text_field :surname %></div>

  <div><%= f.label t 'username' %><br />
	<%= f.text_field :username %></div>

  <div><%= f.label t 'year_of_birth' %><br />
	<%= f.number_field :year %></div>

  <div><%= f.submit t "Update" %></div>
<% end %>

<h3><%= I18n.t("Cancel my account")  %></h3>

<p><%= link_to I18n.t("Cancel my account"), walker_registration_path(resource_name), :confirm => I18n.t("Are you sure to delete your account?"), :method => :delete %></p>

<%= link_to I18n.t("Back"), :back %>
