<h2><%=  t 'signUp.title' %></h2>

<%= t 'signUp.help' %><br />
<br />
<%= form_for(resource, :as => resource_name, :url => walker_registration_path(resource)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
	<%= f.email_field :email %></div>

  <div><%= f.label t 'password' %><br />
	<%= f.password_field :password %></div>

  <div><%= f.label t 'password_confirmation' %><br />
	<%= f.password_field :password_confirmation %></div>

  <div><%= f.label t 'name' %><br />
	<%= f.text_field :name %></div>

  <div><%= f.label t 'surname' %><br />
	<%= f.text_field :surname %></div>

  <div><%= f.label t 'username' %><br />
	<%= f.text_field :username %></div>
	
  <div><%= f.label :phone %><br />
	<%= f.text_field :phone %></div>	

  <div><%= f.label t 'sex' %><br />
	<%= f.select :sex,
	 options_for_select(sex_options,  f.object.sex)
	%></div>

  <div><%= f.label t 'year_of_birth' %><br />
	<%= f.number_field :year %></div>


  <div><%= f.submit t 'register' %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
