<h1>Úprava průchozího bodu</h1>
Průchozí bod je zde možné posunout do jiného místa. Mnohem lepší je ale upravit celou trasu v jiném nástroji (například na mapy.cz) a nahrát sem novou verzi ;)

<%= link_to "<< Zpět na seznam", race_checkpoints_path(@checkpoint.race) %>

<div>

  <%= form_for [@checkpoint.race, @checkpoint] do |f| %>

  <table summary="Checkpoint form fields">
  	<tr>
      <th><%= f.label(:race, "Trasa") %></th>
      <td><%= @checkpoint.race.name_cs %></td>
    </tr>
    <tr>
      <th><%= f.label(:checkid, "GPX pozice") %></th>
      <td><%= f.text_field :checkid, :readonly => true %></td>
    </tr>
    <tr>
      <th><%= f.label(:meters, "Vzdálenost (m)") %></th>
      <td><%= f.text_field(:meters) %></td>
    </tr>
    <tr>
      <th><%= f.label(:latitude, "Latitude") %></th>
      <td><%= f.text_field(:latitude) %></td>
    </tr>
    <tr>
      <th><%= f.label(:longitude, "Longitude") %></th>
      <td><%= f.text_field(:longitude) %></td>
    </tr>
  </table>

  <div>
    <%= submit_tag("Upravit průchozí bod") %>
  </div>

  <% end %>
</div>
