<h1>Import GPX</h1>
V současnosti podporujeme pouze GPX soubory ve formátu TRK bodů. Je vhodné, aby trasa byla dlouhá alespoň 5km, jinak software nemusí fungovat správně. Záznam lze exportovat například z mapy.cz
Jednoduše zde nahraj vyexportovaný soubor s Tvojí trasou.

<%= link_to "<< Zpět na seznam", race_checkpoints_path(params[:race_id]) %>

<div>
<%= form_tag({:action => :upload}, multipart: true) do %>

  <table summary="Checkpoint form fields">
  	<tr>
      <th><%= label_tag 'GPX (trk) soubor' %></th>
      <td><%= file_field_tag :file %></td>
    </tr>
    <% if is_admin? %>
    <tr>
      <th><%= label_tag 'Enable distance filtering' %></th>
      <td><%= check_box_tag :enable_distance_filtering, 'yes', true %></td>
    </tr>
    <tr>
      <th><%= label_tag 'Distance filter' %></th>
      <td><%= number_field_tag :distance_filter, '1000' %>&nbsp;m</td>
    </tr>
    <% else %>
    <input type="hidden" name="enable_distance_filtering" value="true" />
    <input type="hidden" name="distance_filter" value=500 />
    <% end %>
  </table>

  <div>
    <%= submit_tag( "Import" ) %>
  </div>

  <% end %>
  
</div>

