<h1>Průchozí body: "<%= @race.name_cs %>"</h1>
<p>
Zde je možné nahrát GPX záznam a tím vytvořit trasu. Naklikej si mapu na mapy.cz, dej exportovat a vzniklý soubor zde nahraj.
</p>
<%= link_to "<< Zpět na seznam", races_path %>
 |
<%= link_to 'Nahrát GPX soubor', import_race_checkpoint_path %>
 | 
<%= link_to 'Mapa', map_race_checkpoints_path %>

<% unless @checkpoints.empty? %>
<table summary="Checkpoints of selected Race">
    <tr>
      <th>#</th>
      <th>Vzdálenost (m)</th>
      <th>GPS body</th>
      <th></th>
      <th></th>
    </tr>
    <% @checkpoints.each do |checkpoint| %>
    <tr>
      <td><%= checkpoint.checkid %></td>
      <td><%= checkpoint.meters %></td>
      <td><%= checkpoint.latitude %>, <%= checkpoint.longitude %></td>
      <td><%= link_to 'Edit', edit_race_checkpoint_path(@race, checkpoint) %></td>
      <td><%= link_to 'Delete', [@race, checkpoint], :confirm => 'Are you sure you want to delete this checkpoint?', :method => :delete %></td>
    </tr>
    <% end %>
</table>
<% end %>
