<h1>Checkpoints of "<%= @race.name_cs %>"</h1>

<%= link_to "<< Back to Race List", races_path %>
 | 
<%= link_to 'Create New Checkpoint', new_race_checkpoint_path %>

<table summary="Checkpoints of selected Race">
    <tr>
      <th>#</th>
      <th>Meters</th>
      <th>Coordinates</th>
      <th></th>
      <th></th>
    </tr>
    <% @checkpoints.each do |checkpoint| %>
    <tr>
      <td><%= checkpoint.checkid %></td>
      <td><%= checkpoint.meters %></td>
      <td><%= checkpoint.latitude %>, <%= checkpoint.longitude %></td>
      <td><%= link_to 'Edit', edit_race_checkpoint_path(checkpoint.race, checkpoint) %></td>
      <td><%= link_to 'Delete', [checkpoint.race, checkpoint], :confirm => 'Are you sure you want to delete this checkpoint?', :method => :delete %></td>
    </tr>
    <% end %>
</table>
