<h1>Vytvořit nový průchozí bod</h1>

<%= link_to "<< Zpět na seznam průchozích bodů", race_checkpoints_path(@checkpoint.race) %>

<p>Zde můžeš nahrát nový průchozí bod. Je ale lepší celou trasu naklikat například na mapy.cz a nahrát ji sem pomocí gpx souboru, který Ti mapy.cz vyexportují.</p>

<div>

  <%= form_for [@checkpoint.race, @checkpoint] do |f| %>

  <table summary="Checkpoint form fields">
  	<tr>
      <th><%= f.label(:race, "Trasa") %></th>
      <td><%= @checkpoint.race.name_cs %></td>
    </tr>
    <tr>
      <th><%= f.label(:checkid, "Pozice") %></th>
      <td><%= f.text_field :checkid, :readonly => true %></td>
    </tr>
    <tr>
      <th><%= f.label(:meters, "Vzdálenost (m)") %></th>
      <td><%= f.text_field(:meters) %></td>
    </tr>
    <tr>
      <th><%= f.label(:latitude, "Latitude") %></th>
      <td><%= f.text_field(:latitude) %></td>
    </tr>
    <tr>
      <th><%= f.label(:longitude, "Longitude") %></th>
      <td><%= f.text_field(:longitude) %></td>
    </tr>
  </table>

  <div>
    <%= submit_tag("Vytvořit průchozí bod") %>
  </div>

  <% end %>
</div>
