<h1>Race#index</h1>

<table class="listing" summary="Race status">
    <tr class="header">
      <th>Dc</th>
      <th>Walker</th>
      <th>Race State</th>
      <th>Last Checkpoint</th>
      <th>Distance</th>
      <th>Avg Speed</th>
      <th>Updated at</th>
      <th>Started at</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
    <% @races.each do |race| %>
    <tr>
      <td><%= race.dc_id %></td>
      <td><%= race.walker %></td>
      <td><%= raceStatePretty(race.raceState) %></td>
      <td><%= race.lastCheckpoint %></td>
      <td><%= race.distance %></td>
      <td><%= race.avgSpeed %></td>
      <td><%= race.updated_at %></td>
      <td><%= race.created_at %></td>
      <td><%= race.latitude %></td>
      <td><%= race.longitude %></td>
    </tr>
    <% end %>
</table>
