<% if is_admin? %>
<% if !@registration.nil? %>

<p>
	Přehled:
	<ul>
		<li>
			BW maps:<%= @bwmaps %>
		</li>
		<li>
			Color maps:<%= @colormaps %>
		</li>
		<li>
			Šátky: <%= @textil["scarfs"] %>
		</li>
		<li>
			Trika:
			<table border="1" cellpadding="5" cellspacing="0">
				<tr>
					<th>typ/velikost</th>
					<% $shirt_sizes.each do |size| %>
					<th><%= size %></th>
					<% end %>
				</tr>
				<tr>
					<th>pánská bavlna</th>
					<% $shirt_sizes.each do |size| %>
					<td><%= @textil["panskaBavlna"][size] %></td>
					<% end %>
				</tr>
				<tr>
					<th>dámská bavlna</th>
					<% $shirt_sizes.each do |size| %>
					<td><%= @textil["damskaBavlna"][size] %></td>
					<% end %>
				</tr>
				<tr>
					<th>pánský polyester</th>
					<% $shirt_sizes.each do |size| %>
					<td><%= @textil["panskyPolyester"][size] %></td>
					<% end %>
				</tr>
				<tr>
					<th>dámský polyester</th>
					<% $shirt_sizes.each do |size| %>
					<td><%= @textil["damskyPolyester"][size] %></td>
					<% end %>
				</tr>
			</table>
		</li>
	</ul>
</p>
<p>
	<%= link_to 'Zaslat upozornění o platbě', admin_payment_notification_path, :confirm => "Opravdu obeslat všechny walkery, kteří nemají zaplaceno? Jedná se o spam!" %>
</p>
<p>
	<%= link_to 'Smazat nezaplacený textil', admin_cleanup_unpaid_textile_path, :confirm => "Opravdu smazat všechen nezaplacený textil? Akce nepůjde vrátit!" %>
  <%= $shirt_deadline %>
</p>
<p>
	<%= link_to 'Smazat nezaplacené mapy', admin_cleanup_unpaid_maps_path, :confirm => "Opravdu smazat nezaplacené mapy? Akce nepůjde vrátit!" %>
  <%= $map_deadline %>
</p>

Showing all registrations for Den cesty <%= $dc.id %>

<table border="1" width="100%" class="preview" cellspacing="0">
	<tbody>
		<tr class="rotated90">
			<th><div><span>id</span></div></th>
			<th><div><span>jméno</span></div></th>
			<th><div><span>příjmení</span></div></th>
			<th><div><span>e-mail</span></div></th>
			<th><div><span>telefon</span></div></th>
			<th><div><span>triko bavlna</span></div></th>
			<th><div><span>triko funkční</span></div></th>
			<th><div><span>šátek</span></div></th>
			<th><div><span>ČB mapa</span></div></th>
			<th><div><span>mapa</span></div></th>
			<th><div><span>cena</span></div></th>
			<th></th>
			<th><div><span>placeno</span></div></th>
		</tr>
		<% @collected_money = 0 %>
		<% @resting_money = 0 %>
		<% @registration.each do |reg| %>
		<tr class="
		  <% if reg[:confirmed] == true %>
        confirmed
		    <% @collected_money = @collected_money + price(reg) %>
		  <% else %>
		    <% @resting_money = @resting_money + price(reg) %>
		    <% if price(reg) >= 100 || reg.colour_map %>
			    notify
			  <% end %>
			<% end %>
			<% if reg[:canceled] == true %>
			    canceled
			<% end %>
		">
			<td><%= reg.walker.id %></td>
			<td><%= reg.walker.name %></td>
			<td><%= reg.walker.surname %></td>
			<td><%= reg.walker.email %></td>
			<td><%= reg.phone %></td>
			<td><%= reg.shirt_size %></td>
			<td><%= reg.shirt_polyester %></td>
			<td><%= reg.scarf %></td>
			<td><%= reg.bw_map %></td>
			<td><%= reg.colour_map %></td>
			<td><%= price(reg) %>&nbsp;Kč</td>
			<td><%= link_to "odhlásit", {:controller => "registrations", :action => "unregister", :id => reg}, :method => "delete", :confirm => "Registration of " + reg.walker.name + reg.walker.surname + " will be canceled." %></td>
			<td> <% if reg.confirmed %>
			OK
			<% else %>
			<%= link_to "potvrdit", {:controller => "registrations", :action => "confirm", :id => reg}, :method => "get", :confirm => "Potvrdit zaplacení registrace " + reg.walker.name + reg.walker.surname %>
			<% end %> </td>
		</tr>

		<% end %>
	</tbody>
</table>
Celkem přijato <%= @collected_money %>Kč. Zbývá vybrat <%= @resting_money %>Kč.
<% else %>
No record found!
<% end %>
<% end %>
