<%#
# @author gimli
# @version Mar 15, 2012
%>
<% if @walkers.nil? %>
  No record found
<% else %>
  <h2>Výsledky <%= @set_dc %>. dne cesty</h2>
  <%= form_tag('results_setting') do -%>
	<%=  select_tag("id", dc_select.html_safe, :include_blank => true) %>
	<%= submit_tag "vybrat" %>
  <%- end %>

  <%= form_tag("results_update") %>
  <%= hidden_field_tag :dc_id, @set_dc %>
  <table>
	<tbody>
	  <tr>
		<th>jmeno</th>
		<th>příjmení</th>
		<th>rok</th>
		<th>výkon</th>
	  </tr>
	  <% odd = true %>
	  <% id = 0 %>
	  <% @walkers.each do |walker| %>
	  	<% id += 1 %>
		<% odd = !odd %>
	  <tr class="<%= if odd
  "odd-table-line"
	  else
		"even-table-line"
	  end
%>">
		  <td><%= walker.name %></td>
		  <td><%= walker.surname %></td>
		  <td><%= walker.year %></td>
		   <%= hidden_field_tag "results[#{id}][walker_id]", walker.id %>
		   <%= hidden_field_tag "results[#{id}][dc_id]", @set_dc %>
		  <td><%= number_field_tag "results[#{id}][distance]", walker.distance, :size => 4, :step => 0.5 %></td>
		</tr>
	  <%  end %>
	  <tr> <!-- last line contains only submit button //-->
		<td></td><td></td><td></td><td><%= submit_tag "save" %></td>
	  </tr>
	</tbody>
  </table>
<% end %>