<%#
# @author gimli
# @version Mar 10, 2012
%>

<%= @notice %>

<p>Databáze obsahuje <span class="red"><%= @walkers.count %></span> registrovaných chodců. <span class="red">Červeně</span> jsou označení virtuální uživatelé.</p>

<% if @walkers.nil? %>
  No record found
<% else %>
  <table>
	<tbody>
	  <tr>
		<th>přezdívka</th>
		<th>jméno</th>
		<th>příjmení</th>
		<th>e-mail</th>
		<th>telefon</th>
		<th>kategorie</th>
		<th>rok narození</th>
		<th></th>
	  </tr>
	  <% @walkers.each do |walker| %>
		<%= form_for(walker, :url => { :controller => "admin", :action => "walker_update" }) do |f| %>
		  <tr class="<%= walker.virtual ? "virtual" : "registered" %>">
			<%= f.hidden_field :id %>
			<td>
			  <% if !walker.username.nil? -%>
				<%= f.text_field :username, :size => 10 %>
			  <%- end %>
			</td>
			<td><%= f.text_field :name, :size => 10 %></td>
			<td><%= f.text_field :surname, :size => 15 %></td>
			<td>
			  <% if !walker.username.nil? -%>
				<%= f.email_field :email, :size => 15 %>
			  <%- end %>
			</td>
			<td><%= f.text_field :phone, :size => 10 %></td>
			<td>
				<%= f.select :sex, options_for_select(sex_options, f.object.sex), :autocomplete => "off" %>
			</td>
			<td><%= f.number_field :year, :size => 4 %></td>
			<td>
			  <%= f.submit "aktualizovat" %>/
			  <%= link_to "odstranit", {:controller => "admin", :action => "walker_destroy", :id => walker}, :method => "delete", :confirm => "Opravdu smazat uživatele: ".concat(walker.surname) %></td>
		  </tr>
		<% end %>
	  <% end %>
	  <tr><%= form_for @new_walker, :url => { :controller => "admin", :action => "walker_create"} do |f| %>
	  	  <%= f.hidden_field :virtual, :value => true %>
		  <td></td>
		  <td><%= f.text_field :name, :size => 10 %></td>
		  <td><%= f.text_field :surname, :size => 20 %></td>
		  <td></td>
		  <td>
			<%= f.select :sex, options_for_select(sex_options,  f.object.sex), {}%>
		  </td>
		  <td><%= f.number_field :year, :size => 4 %></td>
		  <td>
			<%= f.submit "vytvořit" %></td>
		<% end %>
	  </tr>
	</tbody>
  </table>
<% end %>