<h1>Edit Race</h1>

<%= link_to "<< Back to List", races_url %>

<div>

  <%= form_for @race do |f| %>

  <table summary="Race form fields">
    <tr>
      <th><%= f.label(:name_cs, "Name (cs)") %></th>
      <td><%= f.text_field(:name_cs) %></td>
    </tr>
    <tr>
      <th><%= f.label(:name_en, "Name (en)") %></th>
      <td><%= f.text_field(:name_en) %></td>
    </tr>
    <tr>
      <th><%= f.label(:start_time) %></th>
      <td><%= f.datetime_select(:start_time) %> UTC</td>
    </tr>
    <tr>
      <th><%= f.label(:finish_time) %></th>
      <td><%= f.datetime_select(:finish_time) %> UTC</td>
    </tr>
    <tr>
      <th><%= f.label(:visible) %></th>
      <td><%= f.check_box(:visible) %></td>
    </tr>
    
	</table>

	<div>
    <%= submit_tag("Update Race") %>
  </div>

  <% end %>
</div>
