<h1>Trasy</h1>
<p>
  Zde si můžeš vytvořit vlastní trasu pro testování aplikace a také vytvořené trasy spravovat.
</p>

<%= link_to 'Vytvořit novou trasu', new_race_url %>

<table>
  <tr>
    <th>#</th>
    <th>Jméno trasy</th>
    <th>Popis trasy</th>
    <th>Začátek závodu</th>
    <th>Konec závodu</th>
    <% if is_admin? %>
    <th>Visible</th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @races.each do |race| %>
  <tr>
    <td><%= race.id %></td>
    <td><%= race.name_cs %></td>
    <td><%= race.name_en %></td>
    <td><%= race.start_time %></td>
    <td><%= race.finish_time %></td>
    <% if is_admin? %>
    <td><%= race.visible %></td>
    <% end %>
    <td><%= link_to 'Průchozí body', race_checkpoints_path(race) %></td>
    <td><%= link_to 'Výsledky', race_scoreboard_index_path(race) %></td>
    <td><%= link_to 'Upravit', edit_race_path(race) %></td>
    <td><%= link_to 'Destroy', race, :confirm => "Chcete opravdu smazat trasu: '#{race.name_cs}'?", :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />