<%= form_for(@registration, :url => { :action => @action }) do |f| %>

  <%= f.hidden_field :walker_id, :value => current_walker[:id] %>
  <%= f.hidden_field :dc_id, :value => $current_dc_id %>

  <div><%= f.check_box :bw_map %>
	<%= f.label t :bw_map %></div>

  <div><%= f.check_box :colour_map %>
	<%= f.label t :colour_map %></div>

  <div><%= f.label t :shirt_size %>
	<% options = [["NO", "NO"], ["OWN", "OWN"], ["XS", "XS"], ["S", "S"], ["M", "M"], ["L", "L"], ["XL", "XL"], ["XXL", "XXL"]] %>
	<%= f.select :shirt_size,
	  options_for_select(options,  f.object.shirt_size), {},
	  :disabled => (Time.now > $shirt_deadline) %>
	<i><%= t 'change possible until', :deadline => I18n.l($shirt_deadline, :format => :date) %></i>
  </div>

  <div><%= f.submit @store_string %></div>
<% end %>
