<%= form_for(@registration, :url => { :action => @action }) do |f| %>

  <% disabled = @registration.confirmed? ? true : false %>
  <%= f.hidden_field :confirmed, :value => @registration.confirmed %>
  <%= f.hidden_field :walker_id, :value => current_walker[:id] %>
  <%= f.hidden_field :dc_id, :value => $dc.id %>
  
  <div><%= f.label t 'actual phone' %><br />
	<%= f.text_field :phone, :value => @walker.phone %></div>
  
  <div><%= f.label t :goal %><br />
	<%= f.text_field :goal %></div>
  <% if $dc.map_color_price != -1 or $dc.map_bw_price != -1 %>
  <h4>Mapy:&nbsp;</h4>
  <div><%= f.check_box :bw_map, :disabled => disabled %>
	<%= f.label t :bw_map %> (<%= $dc.map_bw_price %>Kč)</div>

  <div><%= f.check_box :colour_map, :disabled => (disabled || Time.now > $map_deadline) %>
	<%= f.label t :colour_map %> (<%= $dc.map_color_price %>Kč) (<%= t 'change possible until', :deadline => I18n.l($map_deadline, :format => :date) %>)</div>
  <p />
  <% end %>
  <% if scarf? || shirt? || pes_shirt? %>
  <b>Textil:&nbsp;</b><i>(<%= t 'change possible until', :deadline => I18n.l($shirt_deadline, :format => :date) %>)</i><br />
  <ul>
  	<% if shirt? || pes_shirt? %>
  	<li>Trika
  <%= t :shirt_size %>
  <table>
  	<% if shirt? %>
  	<tr>
  		<td>
  			<%= f.label t :shirt_cotton %>
  		</td>
		<td>
			<% options = [["NO", "NO"], ["XS", "XS"], ["S", "S"], ["M", "M"], ["L", "L"], ["XL", "XL"], ["XXL", "XXL"]] %>
			<%= f.select :shirt_size,
	  			options_for_select(options,  f.object.shirt_size), {},
	  			:disabled => (Time.now > $shirt_deadline || disabled) %>
	  			(<%= $dc.shirt_price %>Kč)
	  	</td>
	</tr>  
	<% end # shirt? %>
	<% if pes_shirt? %>
  <tr>
  	<td>
  		<%= f.label t :shirt_polyester %>
  	</td>
  	<td>
  		<% options = [["NO", "NO"], ["XS", "XS"], ["S", "S"], ["M", "M"], ["L", "L"], ["XL", "XL"], ["XXL", "XXL"]] %>
		<%= f.select :shirt_polyester,
	  		options_for_select(options,  f.object.shirt_polyester), {},
	  		:disabled => (Time.now > $shirt_deadline || disabled) %>
	  		(<%= $dc.polyester_shirt_price %>Kč)
  	</td>
  </tr>
  	<% end # pes_shirt? %>  
  </table>
  	</li>
  	<% end # shirt? || pes_shirt? %>
  	<% if scarf? %>  	
    <li>Šátek:
      <div><%= f.check_box :scarf, :disabled => (Time.now > $shirt_deadline || disabled) %>
	    <%= f.label t :scarf %>
	    (<%= $dc.scarf_price %>Kč)
      </div>
  </li>
  <% end # scarf? %>
  </ul>
  <% end # shirt? || pes_shirt? || scarf? %>
  <div><%= f.submit @store_string %></div>
<% end %>
