<h2><%= t "Registration summary" %></h2>
<table width="43%" cellspacing="0">
	<tbody>
		<tr>
			<td class="left"><%= t 'phone' %></td><td colspan="2" class="left"><%= @reg.phone %></td>
		</tr>
		<tr>
			<td class="left"><%= t 'goal' %></td><td colspan="2" class="left"><%= @reg.goal %></td>
		</tr>
		<tr>
			<td>&nbsp; &nbsp;</td><td></td><td></td>
		</tr>
		<tr>
			<th></th><th class="bottom_line left"><%= t 'value' %></th><th class="bottom_line right"><%= t 'price' %></th>
		</tr>
		<tr>
			<td><%= t 'registration fee' %></td><td><%= t 'obligate' %></td><td class="right"><b><%= $dc.reg_price %>&nbsp;Kč</b></td>
		</tr>
		<% if map_bw? %>
		<tr>
			<td><%= t  'bw_map' %></td>
			<td><%= t bool2str(@reg.bw_map) %></td>
			<td class="right"><b><%= bw_map_price(@reg.bw_map) %>&nbsp;Kč</b></td>
		</tr>
		<% end %>
		<% if map_colour? %>
		<tr>
			<td><%= t 'colour_map' %></td>
			<td><%= t bool2str(@reg.colour_map) %></td>
			<td class="right"><b><%= colour_map_price(@reg.colour_map) %>&nbsp;Kč</b></td>
		</tr>
		<% end %>
		<% if shirt? %>
		<tr>
			<td><%= t :shirt_cotton %></td>
			<td><%= t shirt2str(@reg.shirt_size) %></td>
			<td class="right"><b><%= shirt_price(@reg.shirt_size) %>&nbsp;Kč</b></td>
		</tr>
		<% end %>
		<% if pes_shirt? %>
		<tr>
			<td><%= t :shirt_polyester %></td>
			<td><%= t shirt2str(@reg.shirt_polyester) %></td>
			<td class="right"><b><%= polyester_shirt_price(@reg.shirt_polyester) %>&nbsp;Kč</b></td>
		</tr>
		<% end %>
		<% if scarf? %>
		<tr class="bottom_line">
			<td class="bottom_line"><%= t 'scarf' %></td>
			<td class="bottom_line"><%= t bool2str(@reg.scarf) %></td>
			<td class="bottom_line right"><b><%= scarf_price(@reg.scarf) %>&nbsp;Kč</b></td>
		</tr>
		<% end %>
		<tr>
			<td><b><%= t 'total price' %>:</b></td><td></td><td class="right"><b class="red"><%= price(@reg) %>&nbsp;Kč</b></td>
		</tr>
	</tbody>
</table>
<p>
	<% if @reg.confirmed %>
	Registrace již byla uhrazena.
	<% else %>
    <% if price(reg) != 0 %>
	    <% if price(@reg) < 100 && !@reg.colour_map %>
	      Startovné můžeš uhradit na startu nebo
	    <% else %>
	      Úhradu startovného proveď nejpozději
	    <% end %>
	    do <b class="red">
      <% if @reg.has_textile? %>
	      <%= $shirt_deadline.localtime.strftime("%d.%m %Y") %>
	    <% else if @reg.colour_map %>
	        <%= $map_deadline.localtime.strftime("%d.%m %Y") %>
	      <% else %>
	        <%= $registration_deadline.localtime.strftime("%d.%m %Y") %>
	    <% end end %> </b>
      na účet číslo <b><%=$BBAN%></b> s variabilním symbolem <b><%= sprintf("%03d", $dc.id) %><%= sprintf("%04d",@reg.walker_id) %></b> a specifickým symbolem <b>666</b>, jako zprávu pro příjemce uveď svůj email (místo @ nech například mezeru). V případě zrušení registrace nebo neúčasti na závodě uhrazené startovné NEVRACÍME.
      <p>Pro zadání můžete využít tento QR kód:</p>
      <p><%= @svg.html_safe %></p>
    <% end %>
  <% end %>
</p>