<% if walker_signed_in? && current_walker.username == $admin_name %>
  <% if !@registration.nil? %>

	Showing all registrations for Den cesty <%= $current_dc_id %>

	<table>
	  <tbody>
		<tr>
		  <th>jméno</th>
		  <th>příjmení</th>
		  <th>e-mail</th>
		  <th>triko</th>
		  <th>černobílá mapa</th>
		  <th>barevná mapa</th>
		  <th>cena</th>
		  <th>cíl</th>
		  <th>podpis</th>
		</tr>
		<% @registration.each do |reg| %>
		  <tr>
			<td><%= reg.walker.name %></td>
			<td><%= reg.walker.surname %></td>
			<td><%= reg.walker.email %></td>
			<td><%= reg.shirt_size %></td>
			<td><%= reg.bw_map %></td>
			<td><%= reg.colour_map %></td>
			<td><%= price(reg) %>&nbsp;Kč</td>
			<td></td>
			<td><%= link_to "odhlásit", {:controller => "registrations", :action => "unregister", :id => reg}, :method => "delete", :confirm => I18n.t("Are you sure?") %></td>
		  </tr>

		<% end %>
	  </tbody>
	</table>
  <% else %>
	No record found!
  <% end %>
<% else %>
  <% if !@reg.nil? %>
	<h4><%= t "Registration summary" %></h4>
	<table width="40%">
	  <tbody>
		<tr><th></th><th class="bottom_line left"><%= t 'value' %></th><th class="bottom_line right"><%= t 'price' %></th></tr>
		<tr><td><%= t 'registration fee' %></td><td><%= t 'obligate' %></td><td class="right"><b><%= $reg_price %>&nbsp;Kč</b></td></tr>
		<tr><td><%= t 'shirt' %></td><td><%= @reg.shirt_size %></td><td class="right"><b><%= shirt_price(@reg.shirt_size) %>&nbsp;Kč</b></td></tr>
		<tr><td><%= t  'bw_map' %></td><td><%= @reg.bw_map %></td><td class="right"><b><%= bw_map_price(@reg.bw_map) %>&nbsp;Kč</b></td></tr>
		<tr class="bottom_line"><td class="bottom_line"><%= t 'colour_map' %></td><td class="bottom_line"><%= @reg.colour_map %></td><td class="bottom_line right"><b><%= colour_map_price(@reg.colour_map) %>&nbsp;Kč</b></td></tr>
		<tr><td><b><%= t 'total price' %>:</b></td><td></td><td class="right"><b class="red"><%= price(@reg) %>&nbsp;Kč</b></td></tr>
	  </tbody>
	</table>
  <% else %>
	Access denied! Please log in.
  <% end %>
<% end %>