<% if walker_signed_in? && current_walker.username == $admin_name %>
  <% if !@registration.nil? %>

	<p>Summary:
		<ul>
			<li>BW maps:<%=  @registration.where(:bw_map => true, :canceled =>false).count %></li>
			<li>Color maps:<%=  @registration.where(:colour_map => true, :canceled =>false).count %></li>
			<li>Trika:
				<ul>
					<li>XS - <%=  @registration.where(:shirt_size => "XS", :canceled =>false).count %></li>
					<li>S - <%=  @registration.where(:shirt_size => "S", :canceled =>false).count %></li>
					<li>M - <%=  @registration.where(:shirt_size => "M", :canceled =>false).count %></li>
					<li>L - <%=  @registration.where(:shirt_size => "L", :canceled =>false).count %></li>
					<li>XL - <%=  @registration.where(:shirt_size => "XL", :canceled =>false).count %></li>
					<li>XXL - <%=  @registration.where(:shirt_size => "XXL", :canceled =>false).count %></li>
				</ul>
			</li>
		</ul>
	</p>

	Showing all registrations for Den cesty <%= $dc.id %>

	<table>
	  <tbody>
		<tr>
		  <th>jméno</th>
		  <th>příjmení</th>
		  <th>e-mail</th>
		  <th>telefon</th>
		  <th>triko</th>
		  <th>černobílá mapa</th>
		  <th>barevná mapa</th>
		  <th>cena</th>
		  <th>cíl</th>
		  <th></th>
		  <th>placeno</th>
		</tr>
		<% @registration.each do |reg| %>
		  <tr>
			<td><%= reg.walker.name %></td>
			<td><%= reg.walker.surname %></td>
			<td><%= reg.walker.email %></td>
			<td><%= reg.phone %></td>
			<td><%= reg.shirt_size %></td>
			<td><%= reg.bw_map %></td>
			<td><%= reg.colour_map %></td>
			<td><%= price(reg) %>&nbsp;Kč</td>
			<td><%= reg.goal %></td>
			<td><%= link_to "odhlásit", {:controller => "registrations", :action => "unregister", :id => reg}, :method => "delete", :confirm => "Registration of " + reg.walker.name + reg.walker.surname + " will be canceled." %></td>
			<td>
				<% if reg.confirmed %>
					OK
				<% else %>
					<%= link_to "potvrdit", {:controller => "registrations", :action => "confirm", :id => reg}, :method => "get", :confirm => "Potvrdit zaplacení registrace " + reg.walker.name + reg.walker.surname %>
				<% end %>
			</td>
		  </tr>

		<% end %>
	  </tbody>
	</table>
  <% else %>
	No record found!
  <% end %>
<% else %>
  <% if !@reg.nil? %>
	<h2><%= t "Registration summary" %></h2>
	<table width="43%">
	  <tbody>
		<tr><td class="left"><%= t 'phone' %></td><td colspan="2" class="left"><%=  @reg.phone %></td></tr>
		<tr><td class="left"><%= t 'goal' %></td><td colspan="2" class="left"><%=  @reg.goal %></td></tr>
		<tr><td></td><td></td><td></td></tr>
		<tr><th></th><th class="bottom_line left"><%= t 'value' %></th><th class="bottom_line right"><%= t 'price' %></th></tr>
		<tr><td><%= t 'registration fee' %></td><td><%= t 'obligate' %></td><td class="right"><b><%= $dc.reg_price %>&nbsp;Kč</b></td></tr>
		<tr><td><%= t 'shirt' %></td><td><%= @reg.shirt_size %></td><td class="right"><b><%= shirt_price(@reg.shirt_size) %>&nbsp;Kč</b></td></tr>
		<tr><td><%= t  'bw_map' %></td><td><%= @reg.bw_map %></td><td class="right"><b><%= bw_map_price(@reg.bw_map) %>&nbsp;Kč</b></td></tr>
		<tr class="bottom_line"><td class="bottom_line"><%= t 'colour_map' %></td><td class="bottom_line"><%= @reg.colour_map %></td><td class="bottom_line right"><b><%= colour_map_price(@reg.colour_map) %>&nbsp;Kč</b></td></tr>
		<tr><td><b><%= t 'total price' %>:</b></td><td></td><td class="right"><b class="red"><%= price(@reg) %>&nbsp;Kč</b></td></tr>
	  </tbody>
	</table>
	<p>
	<% if @reg.confirmed %>
		Registrace již byla uhrazena.
	<% else %>
		<% if shirt_price(@reg.shirt_size) == 0 %>
			Startovné můžeš uhradit na startu nebo
		<% else %>
			Úhradu startovného proveď nejpozději
		<% end %>
			do <b class="red"><%= ($shirt_deadline - 3.days).localtime.strftime("%d.%m %Y") %></b> na účet číslo <b>670100-2209569678/6210</b> s variabilním symbolem <b><%= sprintf("%03d", $dc.id) %><%= sprintf("%04d",@reg.walker_id) %></b>, jako zprávu pro příjemce uveďt svůj email (místo @ nech například mezeru). V případě zrušení registrace nebo neúčasti na závodě uhrazené startovné NEVRACÍME.
	<% end %>	
	</p>
  <% else %>
	Access denied! Please log in.
  <% end %>
<% end %>