<h1>Events#index</h1>
<p style="word-break: break-all">

<% @events.each do |event| %>
	<%= event.walker %>;
	<%= event.created_at %>;
	<%= event.eventId %>;
	<%= event.eventType %>;
	<%= event.eventData %>;<br />
<% end %>

</p>
