<div>
    <h1 color="red"><%= $dc.id %>. Den cesty</h1>
    <h6 align="center"><%= $dc.name_cs %></h6>
    <p>
	Den cesty je teréní závod na 24h během něhož, závodníkům není poskytována jakákoli podpora. Tedy žádné občerstvovací stanice, záchytné hospody ani odvoz účastníků, pokud už nemohou. Trasu navrhujeme tak, aby byla co nejpřímější a závodníci měli možnost poznat co nejpestřejší krajiny České Republiky.   
    </p>
    <p>Podrobnější pravidla závodu najdete v <%= link_to 'pravidlech', pages_rules_path %>, cokoli není (zatím) zakázáno, je povoleno.</p>
    <p>
    	Pokud během závodu nechcete odškrtávat kontroly, máte telefon s Androidem nebo iOS a powerbanku, stačí mít během závodu spuštěnou naší aplikaci pro trackování. Jak na to najdete v <%= link_to 'návodu', tracker_info_path %>. Nejen, že se nemusíte starat o hlášení svých výsledků, ale v průběhu závodu můžete sledovat, jak jsou na tom ostatní.
    </p>
    <p>
        <%= t 'actual.limit', :race_limit => "#{$dc.limit}"  %>
    </p>    
    <br />
    <%
    remains = $registration_deadline - Time.now
    if  remains < 60 * 60 * 24 * 7 && remains > 0
    %>
    <h4>Registrace končí za <%= time_remaining_to_now_in_czech($registration_deadline) %></h4>
    <% else if remains < 0 %>
    <h4>Registrace byla ukončena</h4>
    <% end %>    
    <% end %>
    <table id="summary">
        <tbody>
        	<tr>
            <th class="title"><%= t 'actual.intro' %>:</th><td>Den cesty se řadí mezi ultra-trailové závody. Ale narozdíl od ostatních závodů v této kategorii, zde ti nikdo nenabídne pomoc (občerstvovací stanici), zázemí (rozuměj ani tělocvičnu) a dokonce, až budeš úplně na dně, musíš se dostat ještě domů. Jde o terénní závod, souboj s vlastním já, fyzickým vyčerpáním a nedostatkem motivace. Rok 2016 má trasu z Nové Paky do Teplic. Na detailnějším popisu pracujeme.</td>
            </tr>
            <tr>
              <th class="title"><%= t 'actual.date' %>:</th><td><%= $dc.start_time.localtime.strftime("%d/%m/%Y v %H:%M") %></td>
            </tr>
            <tr>
                <th class="title"><%= t 'actual.where' %>:</th><td>Nová Paka - bude upřesněno.</td>
            </tr>
            <tr>
                <th class="title"><%= t 'actual.registration_workflow' %>:</th><td>Pro přihlášení na závod je třeba mít účet na těchto stránkách. Po přihlášení se Ti zobrazí menu potřebná pro registraci.</td>
            </tr>
            <tr>
              <th class="title"><%= t 'actual.fees' %>:</th><td>Se skládá z části povinné: <b><%= $dc.reg_price %>Kč</b>  (obsahuje itinerář v igelitových deskách), a částí volitelných: černobílá mapa závodu (<%= $dc.map_bw_price %>Kč), barevná mapa závodu (<%= $dc.map_color_price %>Kč), bavlněné tričko (<%= $dc.shirt_price %>Kč), funkční tričko (<%= $dc.polyester_shirt_price %>Kč), šátek (<%= $dc.scarf_price %>Kč). Potisk textilu se pokusíme zveřejnit co nejdřív.</td>
            </tr>            
            <tr>
                <th class="title"><%= t 'actual.conditions' %>:</th><td>Mladší 18 let potřebují souhlas zákonného zástupce s účastí na závodě a doprovod zletilé osoby po celou dobu závodu. Povinností každého závodníka bez trackovací aplikace je zaslat SMS zprávu při ukončení závodu organizátorům. Povinností závodníka s trackovací aplikací je ukončit trackování v momentě ukončení závodu.</td>
            </tr>            
            <tr>
              <th class="title"><%= t 'actual.route' %>:</th><td>Děláme na tom. Aktuálně pracovní verze je tady: https://mapy.cz/s/pbOp (aktualizováno 15.1.2016)</td>
            </tr>
            <tr>
            	<th class="title"><%= t 'actual.checks' %>:</th><td>Na závodě se vyskytují kontroly (papír A4) na v itineráři vyznačených místech. Itinerář závodníci obdrží na startu. Každá kontrola obsahuje značkovač, kterým si závodník do svého itineráře zaznačí, že kontrolou prošel. Po skončení závodu (do 7 dnů) zašle ofocený/oskenovaný itinerář emailem organizátorům.
            	</td>
            </tr>
            <tr>
                <th class="title"><%= t 'actual.equipment' %>:</th><td>DC se koná na jaře. Je běžné, že závodníci podcení vybavení. Povinné vybavení sice nedefinujeme (Česká Republika je civilizovaná země), ale pokud se snažíte běžet hodně na lehko, přibalte si určitě termofólii.</td>
            </tr>
            <tr>        
    	<th class="title"><%= t 'actual.registered' %>&nbsp;(<%= @registered_walkers.size %>/<span class="red"><%= $dc.limit %></span>):</th>
    <td> 
    	<% if !@registered_walkers.nil? && !@registered_walkers.empty? %>
    	<table width="100%" border="1" cellpadding="3">
        	<tr><th>Závodník</th><th>Registrace</th><th>Zaplaceno</th></tr>
            <% @registered_walkers.each do |reg| %>
            <tr>
                <td><%= reg.walker.name %> <%= reg.walker.surname %></td>
                <td align="right"><%= reg.updated_at.localtime.strftime("%d.%m %Y") %></td>
           		<td align="center">
           			<% if reg.confirmed %>
           			ano
           			<% end %>
           		</td>
          	</tr>
          	<% end %>         
    	</table>
        <% end %>     
        ...   
    </td></tr>
        </tbody>
    </table>
</div>
