<h1>Síň slávy</h1>
Námětem pro tuto stránečku je hodnocení. Hodnotit Den Cesty není vůbec jednoduché a už zdaleka ne objektivní. Jsem rád, že po 14. ročníku už se vynalezlo několik typů hodnocení. Díky Oldovi, který poctivě posbíral výkony za léta minulá se tak různé výsledkové listiny mohou stát realitou. Taktéž s novými stránkami chceme zlepšit dostupnost předchozích výsledků, proto každý kdo se zaregistruje a přihlásí se k nějakému jménu v naší databázi, bude vyslyšen a výsledky mu budou připsány.<br />
<br />
A nyní k již zavedeným žebříčkům:<br />
<h2>Koeficient DR (držitel rekordu)- oficiální hodnocení</h2>
No a jak jsem se rozhodl hodnotit. Představte si, že jeden rok padá sníh je zima
celou dobu prší a všem je zle a druhý rok je krásně svítí slunce, jdou s vámi
přátelé a navíc jste dobře vybaveni. Oba tyto roky nelze pravděpodobně srovnat.
Rozhodně tedy ne absolutně, zatímco prvý rok ujdete 80km a pomalu se doplazíte
na vlak, druhý rok ujdete 120 a ani to nebolí. Oba výkony přitom mohou být
rekordy a kdo může říci, který z nich je víc. Já ne a proto jsem zavedl pro
rekordmany koeficient DR.<br />
Jak spočtete své DR? Předně musíte některý rok ujít nejvíc ze všech účastníků,
čímž dostáváte koeficient minimálně 1. Pokud se vám toto nepodařilo ani jednou
pak máte DR0. To ovšem není konec. Vaše DR závisí navíc na tom, jak dlouho váš
rekord platí. To má dva aspekty, první: Tedy koukneme se do historie: rekordy
byly 80, 92, 87, 112, 95. Letos je rekord 98. To je nejvíc za poslední dva roky,
tedy vaše DR bude 2. Byl-li by rekord 115 pak je vaše DR 6 a byl-li 80, pak je
vaše DR 1. A stále to není konec. Druhý aspekt je budoucnost: Další roky budou
rekordy 75, 85, 100, 120.  Za tyto roky vaše DR roste také. Platila-li varianta
98km pak váš rekord platil 4 roky a tudíž budete mít DR4. Pro variantu 115 to
bude DR9 a pro variantu 80 DR2. Samozřejmě počítá se vaše nevyšší DR.<br />

<b class="green">A nyní Borci:</b><br />
<table align="center">
<% @recordmans.each do |id, recordman| %>	
	<tr><td><%= recordman[:name] %> <%= recordman[:surname] %></td><td>DR<%= recordman[:dr] %></td></tr>
<% end %>
</table>
<h2>Shrnutí pro DR</h2>
	<table border="1" cellpadding="3" cellspacing="3">
		<tr><th>DC</th><th>vítězové</th><th>vzdálenost (km)</th><th>DR koeficient</th></tr>	
	<% @dc_max.each do |dc_max| %>	
		<% if !dc_max.nil? && dc_max.length != 0 %>
			<% first = true %>	
			<% distance = 0 %>
			<% dr = 0 %>			
			<% dc_max.each do |item| %>			
				<% if first %>
					<% distance = item.distance %>
					<% dr = @dr[item.dc_id] %>
					<tr>				
						<td align="center"><%= item.dc_id %></td><td>
					<% first = false %>
				<% else %>,
				<% end %>
				<%= item.walker.name %> <%= item.walker.surname %><% end %>
						</td>
						<td align="right"><%= distance %> </td>
						<td align="center"><%= dr %></td>
					</tr>						
		<% end %>
	<% end %>
	</table>