<h1>Kontakt</h1>
<p>
V případě jakýchkoli dotazů použijte <a href="https://www.facebook.com/groups/456660911045261/">facebook</a>. V případě problémů (tj. stránky, výsledky, reporty, registrace, reklamace, a další ...ace) pište na <b>info@dencesty.cz</b>.
</p>
<p class="gray">A kdo za tím stojí:</p>
<div class="ksichti">
	<div class="ksicht">
		<%= image_tag "evajs" %>
		<div class="jmeno-ksichtu">Eva Blažková (<b>evajs</b>)</div>
		<div class="popis-ksichtu">sekretářka</div>
	</div>
	<div class="ksicht">
		<%= image_tag "gimli" %>
		<div class="jmeno-ksichtu">Honza Blažek (<b>gimli</b>)</div>
		<div class="popis-ksichtu">zakladatel DC a webař</div>
	</div>
	<div class="ksicht">
		<%= image_tag "tritas" %>
		<div class="jmeno-ksichtu">Martin Dungl</div>
		<div class="popis-ksichtu">trasátor teréňák</div>
	</div>
	<div class="ksicht">
		<%= image_tag "martin" %>
		<div class="jmeno-ksichtu">Martin Černohorský</div>
		<div class="popis-ksichtu">grafik</div>
	</div>
	<div class="ksicht">
		<%= image_tag "olda" %>
		<div class="jmeno-ksichtu">Ondřej Honzl (<b>Olda</b>)</div>
		<div class="popis-ksichtu">trasátor teoretik</div>
	</div>
	<div class="ksicht">
		<%= image_tag "jeffer" %>
		<div class="jmeno-ksichtu">Tomáš Štec (<b>Jeffer</b>)</div>
		<div class="popis-ksichtu">sazeč a mapař</div>
	</div>
</div>
