<h1 color="red">Den Cesty - podzim 2012</h1>
<h6 align="center">"Nejkrásnější Moravská II ..."</h6>
<%
remains = $registration_deadline - Time.now
if  remains < 60 * 60 * 24 * 7  && remains > 0
%>
  <h4>Registrace končí za <%= time_remaining_to_now_in_czech($registration_deadline) %></h4>
<% else if remains < 0 %>
	<h4>Registrace byla ukončena</h4>
  <% end %>
<% end %>
<table>
  <tr><td width="50%" valign="top">
	  <table id="summary">
		<tbody><tr><th class="title">Termín:</th><td><%= $dc.start_time.localtime.strftime("%d/%m/%Y v %H:%M") %></td></tr>
		  <tr><th class="title">Start:</th><td>Brno, Maloměřice (konečná šaliny 4 - Obřany, Babická). Doporučený spoj z Prahy hl.n. odjíždí v 15:42. Sraz zájemců o hromadnou jízdenku je před 15:30 u výtahů z metra.</td></tr>
		  <tr><th class="title">Podmínky:</th><td>Mladší 18 let potřebují <%= link_to "potvrzení zákoného zástupce", "povoleniZZ.doc" %> (samozřejmě vyplněné).</td></tr>

		  <tr><th class="title">Návrat:</th><td>Jízdní řád tentokráte nebude z důvodu lenosti Gimliho. Prosím na startu mu patřičně vyčiňte. Odhadněte si kde skončíte a najděte si nejkritičtější místa.</td></tr>
		  <tr><th class="title">Co s sebou:</th><td>Neváhejte využít <%= link_to "rad", pages_recommendations_path %>, které už několik let poctivě sbíráme. Co nenajdete tam, můžete najít v reportech účastníků.</td></tr>

		  <tr><th class="title">Přihlášení&nbsp;(<%= @registered_walkers.size %>):</th><td>
			  <% if !@registered_walkers.nil? %>
				<% @registered_walkers.each do |reg| %>
				  <%= reg.walker.name %> <%= reg.walker.surname %>,
				<% end %>
			  <% end %>
			</td></tr>

		  <tr><th class="title">Poděkování: </th><td>Letos navrhoval trasu Tritas, Jeffer je stejně jako rok předchozí autorem map. Martin autorem triček.</td></tr>
		</tbody>
	  </table>
	  <%= image_tag "triko-navrh.png", :width => "95%" %>
	</td>
		<td><b>Itinerář:</b>(důležité body jsou tučně) - <%= link_to "mapa ke stažení", "dc17-map.pdf" %>
	  <div class="dc-part-name">Večerní procházka</div>
	  <p class="dc-part">
		<b>Brno</b>, <b>Maloměřice</b>, začátek červené TZ - <b>0.00</b><br />
		Babice nad Svitavou, rozcestí (červená TZ) - 10, last exit 23:37<br />
		Pod Máchovým památníkem (žlutá TZ) - 16, seběhnout 2 km do Adamova, last exit 23:34<br />
	  </p>
	  <div class="dc-part-name">Noční pochod</div>
	  <p class="dc-part">
		Rudice, Hájce (červená TZ) - 21<br />
		Vilémovice (červená TZ) - 25<br />
		<b>Macocha</b> (červená TZ) - <b>28</b><br />
		Pustý žleb, rozcestí (červená TZ) - 30.4<br />
		<b>Vavřinec</b> (zelená TZ) - <b>33.5</b>, first exit 4:49<br />
		Petrovice (žlutá TZ) - 35.5, first exit 4:51<br />
		Kuničky, rozcestí (zelená TZ) - 38.6, first exit 5:01<br />
		<b>Boskovice</b>, ŽST (zelená TZ) - <b>48</b>, first exit 4:53<br />
	  </p>
	  <div class="dc-part-name">Rychlí noční turisté</div>
	  <p class="dc-part">
		Bačov (zelená TZ) - 55.5 - first exit 6:16<br />
		Vísky (zelená TZ)- 57.5 - first exit 5:43<br />
		Andělka, rekreační středisko (zelená TZ) - 60.46<br />
		<b>Kladoruby</b> (modrá TZ) - <b>62</b>, first exit 7:33<br />
	  </p>
	  <div class="dc-part-name">Stovkaři KČT</div>
	  <p class="dc-part">
		Velké Opatovice (červená TZ) - 74, last exit 20:04<br />
		<b>Jevíčko</b> (červená TZ) - <b>79.5</b>, last exit 18:59<br />
		Moravská Třebová, nám. (zelená TZ) - 97.5<br />
		<b>Moravská Třebová</b>, ŽST (červená TZ) - <b>98.5</b>, last exit 19:31<br />
	Dále po silnici k odbočce na Kunčinu (99.7) a odtud údolím po silničce přes Kunčinu (103.5), last exit 19:13 <br />

	  </p>
	  <div class="dc-part-name">Rekordmani DC</div>
	  <p class="dc-part">
Serpentinami silnice nad Novou ves, na křížení s červenou TZ - rozcestí Nad Vískou, hájovna - 109.50<br />
		Anenská studánka (červená TZ) - 116.50 na ŽST je to asi 1.5 km, last exit 19:27<br />
		Nad Damníkovskou hájovnou (červená TZ) - 122.50<br />
		<b>Česká Třebová</b>, ŽST (zelená TZ) - <b>130</b>, last exit 21:41<br />
	  </p>
	  <div class="dc-part-name">Běžci</div>
	  <p class="dc-part">
		(dále bez vlaků, jde se rámcově okolo hlavní trati)<br />
		<br />
		Pod Kozlovcem (zelená TZ) - 137.0 - odtud asi 800m do Dlouhé Třebové na vlak<br />
		U zabitého (zelená TZ) - 140.8<br />
		Ústí nad Orlicí, město (ŽST) (modrá TZ) - 142.5<br />
		<b>Ústí nad Orlicí</b>, náměstí (modrá TZ) - <b>143.6</b><br />
		Brandýs nad Orlicí, ŽST (červená TZ) - 156.8<br />
		Choceň, most (červená TZ) - 163.2<br />
		<b>Choceň</b>, ŽST (žlutá TZ) - <b>163.7</b><br />
	  </p>
	</td>
  </tr>
</table>