<div style="float:left">
<h4>Součet</h4>
<table>
<% id = 1 %>
<% @sums.each do |sum| %>
<tr>
	<td><%= id %>.</td>
	<td>
		<%= sum.name %> <%= sum.surname %>
	</td>
	<td>
		<%= sum.sum %>
	</td>
	<% id = id + 1 %>
</tr>
<% end %>
</table>
</div>
<div style="float:left">
<h4>Průměr</h4>
<table>
<% id = 1 %>
<% @avgs.each do |avg| %>
<tr>
	<td><%= id %>.</td>
	<td>
		<%= avg.name %> <%= avg.surname %>
	</td>
	<td>
		<%= avg.avg %>
	</td>
	<% id = id + 1 %>
</tr>
<% end %>
</table>
</div>
<div style="float:left">
	<h4>Den cesty v celku</h4>
<table>
	<tr><td>Průměrný výkon: </td><td><%= number_with_precision(@dc_avg, precision: 1, locale: :en)  %>km<td></tr>
	<tr><td>Celkem našlapáno: </td><td><%= number_with_precision(@dc_sum, precision: 1, locale: :en) %>km<td></tr>
	<tr><td>Nejlepší výkon: </td><td><%= number_with_precision(@dc_best, precision: 1, locale: :en) %>km<td></tr>
</table>
</div>
