<h2>Trackování na telefonu během (nejen) ultratrailových závodů</h2>

Během závodů CSUT, CUTT a dalších je možné nechat se trackovat naší aplikací. <b>Pozor: použití trackovací aplikace nenahrazuje klasické kontroly v závodě</b>, stejně tak nezaručujeme 100% funkčnost (aplikace je teprve ve vývoji).

Trackování se účastní (účastnilo):
<ul>
  <li>23. Den cesty - <%= link_to 'výsledkovka', 'http://www.dencesty.cz/running_results/8' %> a <%= link_to 'mapa', 'http://www.dencesty.cz/map/8' %> závodu</li>
  <li><%= link_to 'Jarním Šluknovskem', 'http://jarnim-sluknovskem.webnode.cz/' %> - <%= link_to 'výsledkovka', 'http://www.dencesty.cz/running_results/6' %> a <%= link_to 'mapa', 'http://www.dencesty.cz/map/6' %> závodu</li>
  <li><%= link_to 'Lazová stovka', 'http://www.lazovka.wbl.sk/2014News.html' %> - <%= link_to 'výsledkovka', 'http://www.dencesty.cz/running_results/10' %> a <%= link_to 'mapa', 'http://www.dencesty.cz/map/10' %> závodu</li>
  <li><%= link_to 'Jesenická stovka', 'http://www.jesenickastovka.cz/' %> - <%= link_to 'výsledkovka', 'http://www.dencesty.cz/running_results/12' %> a <%= link_to 'mapa', 'http://www.dencesty.cz/map/12' %> závodu</li>
  <li><%= link_to 'CUTT Jeseníky 2015', 'http://www.cutt.cz/' %> - <%= link_to 'výsledkovka', 'http://www.dencesty.cz/running_results/14' %> a <%= link_to 'mapa', 'http://www.dencesty.cz/map/14' %> závodu</li>
  <li><%= link_to 'Volkswagen Maraton Praha', 'http://www.runczech.com/…/zav…/volkswagen-maraton-praha/index.shtml' %> - pozor trackování je zcela neoficiální a zcela a pouze pro účely sbírání testovacích dat pro zlepšení naší aplikace. Je pravděpodobné, že na tomto závodě aplikace nebude fungovat moc dobře. Budeme ale rádi za každou testerskou duši. <%= link_to 'výsledkovka', 'http://www.dencesty.cz/running_results/13' %> a <%= link_to 'mapa', 'http://www.dencesty.cz/map/13' %> závodu</li>
  <li><%= link_to 'Brněnské vokruch vokolo Štatlu', 'http://www.pochod.vyskovnice.cz/index_mot.html' %> - <%= link_to 'výsledkovka', 'http://www.dencesty.cz/running_results/16' %> a <%= link_to 'mapa', 'http://www.dencesty.cz/map/16' %> závodu</li>
  <li><%= link_to 'Krakonošova stovka (K100)', 'http://k100.ddmvrchlabi.cz/cz/trasy/k100' %> - (NEOFICIÁLNÍ) <%= link_to 'výsledkovka', 'http://www.dencesty.cz/running_results/19' %> a <%= link_to 'mapa', 'http://www.dencesty.cz/map/19' %> závodu</li>
  <li>24. Den cesty - <%= link_to 'výsledkovka', 'http://www.dencesty.cz/running_results/20' %> a <%= link_to 'mapa', 'http://www.dencesty.cz/map/20' %> závodu</li>
  <li>Loučení s turistickým rokem - Etapa 1 (EKUT) <%= link_to 'výsledkovka', 'http://www.dencesty.cz/running_results/21' %> a <%= link_to 'mapa', 'http://www.dencesty.cz/map/21' %> závodu</li>
  <li>Loučení s turistickým rokem - Etapa 2 (EKUT) <%= link_to 'výsledkovka', 'http://www.dencesty.cz/running_results/22' %> a <%= link_to 'mapa', 'http://www.dencesty.cz/map/22' %> závodu</li>
  <li>25. Den cesty - <%= link_to 'výsledkovka', 'http://www.dencesty.cz/running_results/26' %> a <%= link_to 'mapa', 'http://www.dencesty.cz/map/26' %> závodu</li>
  <li>26. Den cesty - <%= link_to 'výsledkovka', 'http://www.dencesty.cz/running_results/28' %> a <%= link_to 'mapa', 'http://www.dencesty.cz/map/28' %> závodu</li>
  <li>BLK - stomílovka - <%= link_to 'výsledkovka', 'http://www.dencesty.cz/running_results/29' %> a <%= link_to 'mapa', 'http://www.dencesty.cz/map/29' %> závodu</li>
  <li>28. Loučení s turistickým rokem - 1.etapa EKUT 53km - <%= link_to 'výsledkovka', 'http://www.dencesty.cz/running_results/30' %> a <%= link_to 'mapa', 'http://www.dencesty.cz/map/30' %> závodu</li>
  <li>28. Loučení s turistickým rokem - 2.etapa EKUT 125km - <%= link_to 'výsledkovka', 'http://www.dencesty.cz/running_results/31' %> a <%= link_to 'mapa', 'http://www.dencesty.cz/map/31' %> závodu</li>
  <li>Pražská stovka(EKUT) Trans BRDY 150km - <%= link_to 'výsledkovka', 'http://www.dencesty.cz/running_results/32' %> a <%= link_to 'mapa', 'http://www.dencesty.cz/map/32' %> závodu</li>
  <li>Pražská stovka - Trasy 23, 41, 62 a 84km - <%= link_to 'výsledkovka', 'http://www.dencesty.cz/running_results/33' %> a <%= link_to 'mapa', 'http://www.dencesty.cz/map/33' %> závodu</li>
  <li>27. Den cesty - <%= link_to 'výsledkovka', 'http://www.dencesty.cz/running_results/34' %> a <%= link_to 'mapa', 'http://www.dencesty.cz/map/34' %> závodu</li>
  <li><b>Štefánik trail 2017</b> - <%= link_to 'výsledkovka', 'http://www.dencesty.cz/running_results/35' %> a <%= link_to 'mapa', 'http://www.dencesty.cz/map/35' %> závodu</li>

  <li>... máte-li zájem o trackování právě na vašem závodě, napište nám na info@dencesty.cz</li>
</ul>

<h4>Proč aplikaci vyzkoušet</h4>

V dnešní době téměř každý běžec nosí na ruce počítač, meří čas, kalorie a sdílí svoje okruhy na facebooku. Co nového může další trackovací aplikace přinést? Hlavní motivací je sdílení výsledků on-line při závodě mezi závodníky při co největší úspoře baterie vašeho telefonu, nemusíte si tedy s kamarádem psát, vše přehledně vidíte na displeji. Co aplikace umí:

<ul>
	<li>Meření rychlosti a vzdálenosti závodníka na trati</li>
	<li>Informace o pozici a rychlosti soupeřů (kteří mají nainstalovánu aplikaci také) přímo v telefonu.</li>
	<li>Kdokoli vás může sledovat - on-line mapa s polohou závodníků.<br /> Podívejte se na již proběhlé závody.
	<li>Aplikace šetří vaši baterii oproti běžným trackerům (řídké logování po 400m nebo 5 minutách), nejvíc vás tedy stojí "sledování displeje".</li> 
</ul> 

<hr />

<h4>Minimální požadavky</h4>
Co pro on-line výsledky potřebujete?

<ul>
	<li>Smartphone - iOS 7 nebo vyšší, Android 4.1 nebo vyšší</li>
	<li>Internet v mobilu - na rychlosti nezáleží, stačí vám 2G (u některých závodů je roaming výhodou)</li>
	<li>Záložní zdroj (powerbanku) pro telefon - běžná baterie při trackování vydrží cca 16h</li>
	<li>Založit si účet na stránkách www.dencesty.cz pokud ho již nemáš. (Omlouváme se, nesnažíme se propagovat konkurenční závod, pouze aplikaci primárně vyvíjíme pro Den cesty a zatím nejsme tak daleko, abychom měli separátní databázi běžců)</li>
</ul>

<hr/>

<h4>Návod na instalaci</h4>
zde je návod krok za krokem. Pokud v některém bodě budeš mít problém, napiš nám (facebook nebo email).
<ol>
	<li>Pro založení účtu pro trackování navštivte stránku: <%= link_to 'registrace', new_walker_registration_path %>. Pokud už jse se někdy Dne cesty účastnili, tento krok můžete vynechat (jděte přímo na bod 3.)</li>
	<li>Zkontroluj svůj email, zda-li ti dorazil potvrzovací email a svou registraci potvrď kliknutím na link, který ti přijde.</li>
	<li>Dle telefonu:
		<ul>
			<li>pro <b>Android</b> nainstaluj si aplikaci <%= link_to 'Den cesty z Google Play', 'https://play.google.com/store/apps/details?id=cz.machalik.bcthesis.dencesty' %> a zkus se přihlásit.</li>
			<li>pro <b>iOS</b> nainstaluj si aplikaci <%= link_to 'Den cesty z App Store', 'https://itunes.apple.com/us/app/den-cesty/id929762511?mt=8' %> a zkus se přihlásit.</li>
		</ul>
	</li>
	<li>Spusť aplikaci v telefonu a přihlaš se svým účtem.</li>
	<li>Po přihlášení bys měl vidět v seznamu závodů svůj závod. Kliknutím závod vybereš a zahájíš tak odesílání pozice na server - pozor kliknout se ti podaří až 10 minut před startem. Pokud chceš vyzkoušet funkcionalitu, vyber si jiný závod, který zde máme jako demo (vše podstatné tam uvidíš).</li>
	<li>Po výběru závodu již stačí kliknout na "Start závodu" a telefon začne odesílat údaje o pozici závodníka na server (při nedostatku baterie doporučujeme vypnout logování - tlačítko se změní na "Ukončit závod").</li>
	<li>Pod tlačítkem "Walker List" se pak schovává seznam závodníků, kteří odstartovali stejný závod v pořadí, dle posledního logu.</li>
</ol>
<hr />
Pokud chcete vývoj aplikace podpořit, pište své postřehy, náměty a problémy s aplikací na <b>info@dencesty.cz</b>. Případné finanční příspěvky přijímáme na účtu č.: <b><%= $BBAN %></b> (prosíme uveďte svůj email ve zprávě pro příjemce, rádi vám poděkujeme).
