<h2>Trackování na telefonu během (nejen) ultratrailových závodů</h2>

Během vašich závodů je možné nechat se trackovat naší aplikací. <b>Pozor: použití trackovací aplikace nenahrazuje klasické kontroly v závodě</b>, stejně tak nezaručujeme 100% funkčnost (aplikace není 100% spolehlivá a zejména špatně funguje na "vracečkách").

Průběžné (i konečné) výsledky závodu lze sledovat na mapě, nebo ve výsledkovce. Můžete si jí linkovat z vašeho webu. URL bude vypadat nějak takto:

<ul>
  <li><a href="http://dencesty.cz/running_results/8">http://dencesty.cz/running_results/{ID}</a></li>
  <li><a href="http://www.dencesty.cz/map/8">http://www.dencesty.cz/map/{ID}</a></li>
</ul>
{ID} jen nahradíte IDčkem, které dostal Váš závod.

<h4>Jak závod vytvořit?</h4>
<ol>
  <li>Přihlas se na webu Dencesty.cz. Pokud zde nemáš účet, musíš si nejprve udělat registraci.</li>

  <li>Po přihlášení se ti v hlavním menu vlevo dole objeví nová položka "Mobilní aplikace" (viz printscreen). Klikni na ni, pak vyber možnost "Vytvořit novou trasu".</li>
  <%= image_tag "cvicna1.jpg", width: "100%" %>

  <li>Zadej potřebné náležitosti testovací trasy, včetně názvu a časového rozmezí, kdy je třeba trasu absolvovat.</li>
  <%= image_tag "cvicna2.jpg", width: "100%" %>

  <li>Poté je třeba naimportovat GPX soubor s vedením trasy. Vytvořit ho můžeš tak, že trasu naklikáš na serveru Mapy.cz, pak si ho odtamtud vyexportuješ a následně naimportuješ k údajům o trase na Dencesty.cz (kliknutím na "Průchozí body" a následným výběrem "Nahrát GPX soubor").</li>
  <%= image_tag "cvicna3.jpg", width: "100%" %>

  <li>Pak už se ti testovací trasa objeví v mobilní aplikaci. Vyber příslušný závod, klikni na "Start závodu" a můžeš vyrazit. :-)</li>
</ol>

<h4>Proč aplikaci vyzkoušet</h4>

V dnešní době téměř každý běžec nosí na ruce počítač, meří čas, kalorie a sdílí svoje okruhy na facebooku. Co nového může další trackovací aplikace přinést? Hlavní motivací je sdílení výsledků on-line při závodě mezi závodníky při co největší úspoře baterie vašeho telefonu, nemusíte si tedy s kamarádem psát, vše přehledně vidíte na displeji. Co aplikace umí:

<ul>
	<li>Meření rychlosti a vzdálenosti závodníka na trati</li>
	<li>Informace o pozici a rychlosti soupeřů (kteří mají nainstalovánu aplikaci také) přímo v telefonu.</li>
	<li>Kdokoli vás může sledovat - on-line mapa s polohou závodníků.<br /> Podívejte se na již proběhlé závody.
	<li>Aplikace šetří vaši baterii oproti běžným trackerům (řídké logování po 400m nebo 5 minutách), nejvíc vás tedy stojí "sledování displeje".</li> 
</ul> 

<hr />

<h4>Minimální požadavky</h4>
Co pro on-line výsledky potřebujete?

<ul>
	<li>Smartphone - iOS 7 nebo vyšší, Android 4.1 nebo vyšší</li>
	<li>Internet v mobilu - na rychlosti nezáleží, stačí vám 2G (u některých závodů je roaming výhodou)</li>
	<li>Záložní zdroj (powerbanku) pro telefon - běžná baterie při trackování vydrží cca 16h</li>
	<li>Založit si účet na stránkách www.dencesty.cz pokud ho již nemáš. (Omlouváme se, nesnažíme se propagovat konkurenční závod, pouze aplikaci primárně vyvíjíme pro Den cesty a zatím nejsme tak daleko, abychom měli separátní databázi běžců)</li>
</ul>

<hr/>

<h4>Návod na instalaci</h4>
zde je návod krok za krokem. Pokud v některém bodě budeš mít problém, napiš nám (facebook nebo email).
<ol>
	<li>Pro založení účtu pro trackování navštivte stránku: <%= link_to 'registrace', new_walker_registration_path %>. Pokud už jse se někdy Dne cesty účastnili, tento krok můžete vynechat (jděte přímo na bod 3.)</li>
	<li>Zkontroluj svůj email, zda-li ti dorazil potvrzovací email a svou registraci potvrď kliknutím na link, který ti přijde.</li>
	<li>Dle telefonu:
		<ul>
			<li>pro <b>Android</b> nainstaluj si aplikaci <%= link_to 'Den cesty z Google Play', 'https://play.google.com/store/apps/details?id=cz.machalik.bcthesis.dencesty' %> a zkus se přihlásit.</li>
			<li>pro <b>iOS</b> nainstaluj si aplikaci <%= link_to 'Den cesty z App Store', 'https://itunes.apple.com/us/app/den-cesty/id929762511?mt=8' %> a zkus se přihlásit.</li>
		</ul>
	</li>
	<li>Spusť aplikaci v telefonu a přihlaš se svým účtem.</li>
	<li>Po přihlášení bys měl vidět v seznamu závodů svůj závod. Kliknutím závod vybereš a zahájíš tak odesílání pozice na server - pozor kliknout se ti podaří až 10 minut před startem. Pokud chceš vyzkoušet funkcionalitu, vyber si jiný závod, který zde máme jako demo (vše podstatné tam uvidíš).</li>
	<li>Po výběru závodu již stačí kliknout na "Start závodu" a telefon začne odesílat údaje o pozici závodníka na server (při nedostatku baterie doporučujeme vypnout logování - tlačítko se změní na "Ukončit závod").</li>
	<li>Pod tlačítkem "Walker List" se pak schovává seznam závodníků, kteří odstartovali stejný závod v pořadí, dle posledního logu.</li>
</ol>
<hr />
Pokud chcete vývoj aplikace podpořit, pište své postřehy, náměty a problémy s aplikací na <b>info@dencesty.cz</b>. Případné finanční příspěvky přijímáme na účtu č.: <b><%= $BBAN %></b> (prosíme uveďte svůj email ve zprávě pro příjemce, rádi vám poděkujeme).
