<h2>Jarním Šluknovskem - trackování na telefonu</h2>

Závod Jarním Šluknovskem (110km) byl vybrán jako druhý pokusný závod pro naší mobilní aplikaci pro trackování závodníků během závodu. <b>Pozor: použití trackovací aplikace nenahrazuje klasické kontroly v závodě</b>, stejně tak nezaručujeme 100% funkčnost (aplikace je teprve ve vývoji).

<h4>Proč aplikaci vyzkoušet</h4>

V dnešní době téměř každý běžec nosí na ruce počítač, meří čas, kalorie a sdílí svoje okruhy na facebooku. Co nového může další trackovací aplikace přinést? Hlavní motivací je sdílení výsledků on-line při závodě mezi závodníky při co největší úspoře baterie vašeho telefonu, nemusíte si tedy s kamarádem psát, vše přehledně vidíte na displeji. Co aplikace umí:

<ul>
	<li>Meření rychlosti a vzdálenosti závodníka na trati</li>
	<li>Informace o pozici a rychlosti soupeřů (kteří mají nainstalovánu aplikaci také) přímo v telefonu.</li>
	<li>Kdokoli vás může sledovat - on-line mapa s polohou závodníků.<br />
  Jak jsme si vedli při pokusném závodě, se můžete podívat na <%= link_to 'mapu', 'https://www.dencesty.cz/map/5?locale=cs' %>, případně na <%= link_to 'výsledkovou listinu', 'https://www.dencesty.cz/running_results/5' %>. Na mapě vidíte štítky s poslední pozicí závodníka.</li>
	<li>Aplikace šetří vaši baterii oproti běžným trackerům (řídké logování po 400m nebo 5 minutách), nejvíc vás tedy stojí "sledování displeje".</li> 
</ul> 

<hr />

<h4>Minimální požadavky</h4>
Co pro on-line výsledky potřebujete?

<ul>
	<li>Smartphone - iOS 7 nebo vyšší, Android 4 nebo vyšší</li>
	<li>Internet v mobilu - na rychlosti nezáleží, stačí vám 2G (v Německu je roaming výhodou)</li>
	<li>Záložní zdroj (powerbanku) pro telefon - běžná baterie při trackování vydrží cca 16h</li>
	<li>Založit si účet na stránkách www.dencesty.cz (Omlouváme se, nesnažíme se propagovat konkurenční závod, pouze aplikaci primárně vyvíjíme pro Den cesty a zatím nejsme tak daleko, abychom měli separátní databázi běžců)</li>
</ul>

<hr/>

<h4>Návod na instalaci</h4>
Rozhodli jste se aplikaci vyzkoušet, návod se zde objeví během několika dní (nejpozději ve čtvrtek ráno), nyní čekáme pouze na přidání aplikací na Google Play a AppStore. <!-- zde je návod krok za krokem:
<ol>
	<li>Pro založení účtu pro trackování navštivte stránku: <%= link_to new_registration_url %>. Pokud už jse se někdy Dne cesty účastnili, tento krok můžete vynechat (jděte přímo na bod 3.)</li>
	<li>Zkontroluj svůj email, zda-li ti dorazil potvrzovací email a svou registraci potvrď kliknutím na link, který ti přijde.</li>
	<li>Pokud máš <b>iPhone</b> nainstaluj si - <%= link_to 'UltraTracker', 'https://itunes.apple.com/cz/app/20.-den-cesty/id929762511?mt=8' %> pro <b>Android</b> - <%= link_to 'UltraTracker', 'https://play.google.com/store/apps/details?id=cz.machalik.bcthesis.dencesty' %> a zkus se přihlásit.</li>
	<li>Spusť aplikaci v telefonu a přihlaš se svým účtem.</li>
	<li>Po přihlášení bys měl vidět v seznamu závodů závod Jarním Šluknovskem (104km). Kliknutím závod vybereš.</li>
	<li>Po výběru závodu již stačí kliknout na "Start závodu" a telefon začne odesílat údaje o pozici závodníka na server (při nedostatku baterie doporučujeme vypnout logování - tlačítko se změní na "Ukončit závod").</li>
	<li>Pod tlačítkem "Walker List" se pak schovává seznam závodníků, kteří odstartovali stejný závod v pořadí, dle posledního logu.</li>
</ol>
<hr />
Pokud chcete vývoj aplikace podpořit, pište své postřehy, náměty a problémy s aplikací na <b>info@dencesty.cz</b>. Případné finanční příspěvky přijímáme na účtu č.: <b><%= $account_number %></b> (prosíme uveďte svůj email ve zprávě pro příjemce, rádi vám poděkujeme). V případě, že byste rádi testovali i na vaší ultratrailové akci, pošlete nám email.
//-->
