<!DOCTYPE html>
<html>
  <head>
	<title>DenCesty</title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<script type="text/javascript">

	  $(document).ready(function(){
		$("ul.sf-menu").superfish({
		  delay:     700               // 1.2 second delay on mouseout
		});
		$("ul.walker-nav").superfish({
		  delay:     700               // 1.2 second delay on mouseout
		});
	  });

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36705877-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

	</script>
  </head>
  <body bgcolor ="black">
	<div class="hmenu">
	  <%= render 'devise/menu/login_items' %>
	</div>

	<div class="nav">
	  <%=  render_navigation(:expand_all => true) %>
	</div>
	<div class="main-column">
	  <div class="main-content">
		<div class="walker-nav">
		  <% if walker_signed_in? %>
			<%=  render_navigation(:context=> 'walker', :expand_all => true) %>
		  <% else %>
		  <ul>
		  </ul>
		  <% end %>
		</div>
		<div class="content">
		  <div class="main-text">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>

			<%= yield %>
		  </div>
		</div>
	  </div>
	</div>
  </body>
</html>
